{% extends "auctions/layout.html" %}


{% block body %}
{% load static %}
    <h2>Active Listings</h2>
    <ul><h2>All items of the Listing :</h2></ul>
    
    {%for item in Listing%}
    
    <div class="listing_div">

        <li><a href="">{{ item.item_name }}</a> <br>
            Price: $ {{ item.most_recent_bid }}  <br>
            Product Category: {{ item.product_category }}<br>
            Product Details: {{ item.product_details }}<br>
            
            {%if item.listing_image %}
            <img src="{{item.listing_image.url}}" alt="" 
                    style="object-fit:contain;
                    width:200px;
                    height:300px;
                    border: solid 1px #CCC">
            {% else %}
            <p style="color: red; font-style:italic" >There is no image uploaded.</p> 
            {% endif %}<hr>
        </li>
        
    </div>

    
    {% endfor %}

{% endblock %}