{% extends "auctions/layout.html" %}


{% block body %}
{% load static %}
    <h2>Active Listings</h2>
    <form method="POST" action="{% url 'categorize_view' %}">
        {% csrf_token %}
        <label for="select_category">Filter by Category</label> <br>
        <select name="select_category" id="select_category">
            <option value="{{selected_category_id}}" selected>{{selected_category_name}}</option>
            {% for category in Category %}
            <option value="{{category.id}}" >{{category.name}}</option>
            {% endfor %}
        <input type="submit" name="filter_button" id="" value="Filter"> 
    </form>
    <h5>Total no. of items :{% if number_of_listing_in_the_cat != 0 %} {{number_of_listing_in_the_cat}}
                     {% else %} <i>There is no item in this category</i> {% endif %}</h5>  
    {%for item in Listing%}
    
    <div class="listing_div" id="{{item.id}}">
        <ul>
            <li> Item Name:<a href="{% url 'item' item_id=item.id %}"> {{ item.item_name }}</a></li>
            Openning Price: $ {{ item.price }}  <br>
            Listed by: {{item.user}} <br>
            Product Category: {{ item.product_category }}<br>
            Product Details: {{ item.product_details }}<br>
            {%if item.listing_image_link%}
            External Image Link: {{ item.listing_image_link }}<br>
            {% endif %}
            {%if item.listing_image %}
            <img src="{{item.listing_image.url}}" alt="" 
                    style="object-fit:contain;
                    width:200px;
                    height:300px;
                    border: solid 1px #CCC">
            {% else %}
            <p style="color: red; font-style:italic" >There is no image uploaded.</p> 
            {% endif %}<hr>
        </ul>
        
    </div>

    {% endfor %}

{% endblock %}