{% extends "auctions/layout.html" %}


{% block body %}
{% load static %}
    <h2>Active Listings</h2>
    <h5>All items :</h5>
    
    {%for item in Listing%}
    
    <div class="listing_div" id="{{item.id}}">
        <ul>
            <li> Item Name:<a href="{% url 'item' item_id=item.id %}"> {{ item.item_name }}</a></li>
            Price: $ {{ item.price }}  <br>
            Product Category: {{ item.product_category }}<br>
            Product Details: {{ item.product_details }}<br>
            {%if item.listing_image_link%}
            External Image Link: {{ item.listing_image_link }}<br>
            {% endif %}
            {%if item.listing_image %}
            <img src="{{item.listing_image.url}}" alt="" 
                    style="object-fit:contain;
                    width:200px;
                    height:300px;
                    border: solid 1px #CCC">
            {% else %}
            <p style="color: red; font-style:italic" >There is no image uploaded.</p> 
            {% endif %}<hr>
        </ul>
        
    </div>

    {% endfor %}

{% endblock %}