{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<h2>Active Listing:</h2>

  <a href="{% url 'index' %}"><< Back to Listings </a>  

 
<div class="listing_div" id="{{item.id}}"> 
    <ul>
        <h5>{{name}}</h5>
        {% if user.is_authenticated %}
        <form method=POST action="{% url 'watchlist' item_id=item_id %}"> 
            {% csrf_token %}
            <input type="submit" value={{button_tag}}>
        </form><br>
        {% else %}
        <form method=GET action="{% url 'login' %} "> 
            <input type="submit" value="Login to add to your watchlist">
        </form><br>
        {% endif %}
        Item Id: {{item_id}} <br>
        Openning Price: $ {{ price }} 
        <hr>
        {%if bid%}
        Last Bid: $ {{bid.bid}} on {{bid.date}} by {{bid.user}} <br>
            {%if user == bid.user %} 
            <p>You bidded last!</p>
            {% else %}
            <a href="">Bid</a> <br>
            {% endif %}
        {% endif %}
        <hr>
        Details: {{details}} <br>
        {%if listing_image %}
        <img src="{{listing_image}}" alt="" 
                style="object-fit:contain;
                width:200px;
                height:300px;
                border: solid 1px #CCC">
        {% else %}
        <p style="color: red; font-style:italic" >There is no image uploaded.</p> 
        {% endif %}<hr>
    </ul>
</div>

{% endblock %}