{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}

<h2>Item Page</h2>

<div class="listing_div" id="{{item.id}}"> 
    <ul>
        Item Name:<a href=""> {{name}}</a> 
        {% if user.is_authenticated %}
        <form method=POST action="{% url 'watchlist' item_id=item_id %}"> 
            {% csrf_token %}
            <input type="submit" value="Add to watchlist">
        </form><br>
        {% else %}
        <form method=GET action="{% url 'login' %} "> 
            <input type="submit" value="Login to add to your watchlist">
        </form><br>
        {% endif %}
        Item Id: {{item_id}} <br>
        Openning Price: $ {{ price }}  <br>
        Details: {{details}} <br>
        {%if listing_image %}
        <img src="{{listing_image}}" alt="" 
                style="object-fit:contain;
                width:200px;
                height:300px;
                border: solid 1px #CCC">
        {% else %}
        <p style="color: red; font-style:italic" >There is no image uploaded.</p> 
        {% endif %}<hr>
    </ul>
</div>

{% endblock %}